<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dog-Mapper">

	<sql id="search">	
		<if test="searchType == 'no'.toString()">
			and DOG_NO like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'br'.toString()">
			and DOG_BREED like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'nm'.toString()">
			and DOG_NAME like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'gd'.toString()">
			and DOG_GENDER like '%'||#{keyword}||'%'			
		</if>			
	</sql>	

	<select id="selectDogList" resultType="dog">
		select
		* 
		from DOG
		where DOG_NO is not null
		<include refid="search" />
		order by DOG_DATE desc
	</select>
	
	<select id="selectDogListCount" resultType="int">
		select
		count(*) 
		from dog
		where DOG_NO is not null
		<include refid="search" />
	</select>
	
</mapper>