<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Vol-Mapper">

	<select id="selectVolList" resultType="vol">
		select
		* 
		from VOL_PLAN
		where VOL_TITLE is not null
<!-- 		<include refid="search" /> -->
		order by VOL_DATE desc
	</select>
	
	<select id="selectVolListCount" resultType="int">
		select
		count(*) 
		from VOL_PLAN
		where VOL_TITLE is not null
<!-- 		<include refid="search" /> -->
	</select>
</mapper>