<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Volunteer-Mapper">

	<select id="selectVolWantMemberList" resultType="volunteer">
		select
		*
		from
		VOL_WANT
		where VOL_NO is not null
	</select>

	<select id="selectVolWantMemberListCount" resultType="int">
		select
		count(*)
		from VOL_WANT
		where VOL_NO is not null
	</select>

	<update id="insertVol" parameterType="volunteer">
		insert into 
		vol_plan(vol_title,vol_date,vol_type,vol_content)
		values(#{volTitle},#{volDate},#{volType},#{volContent})
	</update>

	<select id="insertVolWantMember" resultType="volunteer">
		select
		*
		from VOL_WANT
	</select>


	<select resultType="volunteer" id="selectVolList">
		select
		*
		from VOL_PLAN
		where VOL_TITLE is not null
		<!-- <include refid="search" /> -->

		order by VOL_DATE desc
	</select>


	<select resultType="int" id="selectVolListCount">
		select
		count(*)
		from VOL_PLAN
		where VOL_TITLE is not null
		<!-- <include refid="search" /> -->


	</select>

	<select resultType="volunteer" parameterType="str" id="selectVolunteerplanByTitle">
		select
		*
		from VOL_PLAN
		where VOL_TITLE =#{volTitle}
	</select>




</mapper>